<!DOCTYPE html>
<html lang="en">
<head>
  <title>Restricted Area</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <style type="text/css">
	body .restected {border: 3px solid #ff0000;}
	body .restected h2 {text-align: center; font-weight: bold; color: #ff0000;}
	body .restected .alert {text-align: center; font-size: 1em; font-weight: bold; color: #ff0000;}
	</style>


</head>
<body>

<div class="container">
	<div class="row-fluid">
		<br />
		<br />
		<br />
		<br />
		<div class="restected">
		  <h2>420</h2>
		  
		  <div class="alert alert-danger">
		    <strong>Sorry!</strong> you can not access this section. You should access manually, that author provided to access. 
		  </div>
		</div>
	</div>
</div>

</body>
</html>